@model POC_Models.Models.Teacher

@{
    ViewBag.Title = "DeleteConfirmed";
}

<h2>DeleteConfirmed</h2>

<p>
    The teacher has been deleted.
</p>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
